<section class="furniture-list-section">
  <div class="container">
    <section>
      <div class="container our-furniture">
        <h1>Наші меблі</h1>
        <p>Знайдіть ідеальні рішення для вашого інтер'єру</p>
        <ul class="category-list">
          <li class="categoty-item">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/furniture-list/firstPhoto@x1.webp 1x,
                  /img/furniture-list/firstPhoto@x2.webp 2x
                "
              />
              <img
                src="/img/furniture-list/firstPhoto@x1.jpg"
                srcset="
                  /img/furniture-list/firstPhoto@x1.jpg 1x,
                  /img/furniture-list/firstPhoto@x2.jpg 2x
                "
                alt=""
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="categoty-item">
            <picture>
              <source
                type="image/webp"
                src="
                    /img/furniture-list/second@x1.webp 1x,
                    /img/furniture-list/second@x2.webp 2x
                  "
              />
              <img
                src="/img/furniture-list/secondPhoto@x1.jpg"
                srcset="
                  /img/furniture-list/secondPhoto@x1.jpg 1x,
                  /img/furniture-list/secondPhoto@x2.jpg 2x
                "
                alt=""
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="categoty-item">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/furniture-list/futhirdPhoto@x1.webp 1x,
                  /img/furniture-list/thirdPhoto@x2.webp   2x
                "
              />
              <img
                src="/img/furniture-list/thirdPhoto@x1.jpg"
                srcset="
                  /img/furniture-list/thirdPhoto@x1.jpg 1x,
                  /img/furniture-list/thirdPhoto@x2.jpg 2x
                "
                alt=""
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="categoty-item">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/furniture-list/fourthPhoto@x1.webp 1x,
                  /img/furniture-list/fourthPhoto@x2.webp 2x
                "
              />
              <img
                src="/img/furniture-list/fourthPhoto@x1.jpg"
                srcset="
                  /img/furniture-list/fourthPhoto@x1.jpg 1x,
                  /img/furniture-list/fourthPhoto@x2.jpg 2x
                "
                alt=""
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="categoty-item">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/furniture-list/fifthPhoto@x1.webp 1x,
                  /img/furniture-list/fifthPhoto@x2.webp 2x
                "
              />
              <img
                src="/img/furniture-list/fifthPhoto@x1.jpg"
                srcset="
                  /img/furniture-list/fifthPhoto@x1.jpg 1x,
                  /img/furniture-list/fifthPhoto@x2.jpg 2x
                "
                alt=""
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="categoty-item">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/furniture-list/sixthPhoto@x1.webp 1x,
                  /img/furniture-list/sixthPhoto@x2.webp 2x
                "
              />
              <img
                src="/img/furniture-list/sixthPhoto@x1.jpg"
                srcset="
                  /img/furniture-list/sixthPhoto@x1.jpg 1x,
                  /img/furniture-list/sixthPhoto@x2.jpg 2x
                "
                alt=""
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="categoty-item">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/furniture-list/seventhPhoto@x1.webp 1x,
                  /img/furniture-list/seventhPhoto@x2.webp 2x
                "
              />
              <img
                src="/img/furniture-list/seventhPhoto@x1.jpg"
                srcset="
                  /img/furniture-list/seventhPhoto@x1.jpg 1x,
                  /img/furniture-list/seventhPhoto@x2.jpg 2x
                "
                alt=""
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="categoty-item">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/furniture-list/eighthPhoto@x1.webp 1x,
                  /img/furniture-list/eighthPhoto@x2.webp 2x
                "
              />
              <img
                src="/img/furniture-list/eighthPhoto@x1.jpg"
                srcset="
                  /img/furniture-list/eighthPhoto@x1.jpg 1x,
                  /img/furniture-list/eighthPhoto@x2.jpg 2x
                "
                alt=""
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="categoty-item">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/furniture-list/ninthPhoto@x1.webp 1x,
                  /img/furniture-list/ninthPhoto@x2.webp 2x
                "
              />
              <img
                src="/img/furniture-list/ninthPhoto@x1.jpg"
                srcset="
                  /img/furniture-list/ninthPhoto@x1.jpg 1x,
                  /img/furniture-list/ninthPhoto@x2.jpg 2x
                "
                alt=""
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="categoty-item">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/furniture-list/tenthPhoto@x1.webp 1x,
                  /img/furniture-list/tenthPhoto@x2.webp 2x
                "
              />
              <img
                src="/img/furniture-list/tenthPhoto@x1.jpg"
                srcset="
                  /img/furniture-list/tenthPhoto@x1.jpg 1x,
                  /img/furniture-list/tenthPhoto@x2.jpg 2x
                "
                alt=""
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="categoty-item">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/furniture-list/eleventhPhoto@x1.webp 1x,
                  /img/furniture-list/eleventhPhoto@x2.webp 2x
                "
              />
              <img
                src="/img/furniture-list/eleventhPhoto@x1.jpg"
                srcset="
                  /img/furniture-list/eleventhPhoto@x1.jpg 1x,
                  /img/furniture-list/eleventhPhoto@x2.jpg 2x
                "
                alt=""
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="categoty-item">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/furniture-list/twelfthPhoto@x1.webp 1x,
                  /img/furniture-list/twelfthPhoto@x2.webp 2x
                "
              />
              <img
                src="/img/furniture-list/twelfthPhoto@x1.jpg"
                srcset="
                  /img/furniture-list/twelfthPhoto@x1.jpg 1x,
                  /img/furniture-list/twelfthPhoto@x2.jpg 2x
                "
                alt=""
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="categoty-item">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/furniture-list/thirteenthPhoto@x1.webp 1x,
                  /img/furniture-list/thirteenthPhoto@x2.webp 2x
                "
              />
              <img
                src="/img/furniture-list/thirteenthPhoto@x1.jpg"
                srcset="
                  /img/furniture-list/thirteenthPhoto@x1.jpg 1x,
                  /img/furniture-list/thirteenthPhoto@x2.jpg 2x
                "
                alt=""
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
        </ul>
        <ul class="futniture-list"></ul>
        <button
          id="load-more-button"
          class="load-more-button button"
          type="button"
        >
          Показати ще
        </button>
      </div>
    </section>
  </div>
</section>
