.about-us-section {
    background-color: #f0e6e6;
}

.about-us-text{
   padding-top: 64px;
}

.name-sect{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--color-scheme-2-text);
    padding-bottom: 24px;
}
.text-deskr{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--color-scheme-2-text);
}

.picture-box{
    margin-top: 24px;
    padding-bottom: 64px;
}


@media only screen and (min-width: 768px){
    .container{
        margin: 0;
    }
    .about-us-text {
        padding-top: 32px;
    }
    .picture-box {
        padding-bottom: 32px;
    } 
}

@media only screen and (min-width: 1336px){
    .about-us-inner {
        
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: row;
    }
    .about-us-text{
        padding-top: 184px;
        max-width: 644px;
        padding-bottom: 184px;
        padding-left: 44px;
    }
    
}