.feedbacks-section {
}
.feedbacks-container {
  margin-top: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.feedbacks-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #080c09;
}
.feedbacks-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;
  margin-bottom: 80px;
}

.feedbacks-list {
  width: 100%;
  max-width: 375px; 
  margin: 0 auto;
}

.general-btn {
  order: 1px solid #F2F2F2;
border-radius: 100px;
padding: 12px;
width: 48px;
height: 48px;
}









