.footer {
  background-color: #6b0609;
  color: #fff;
  padding-bottom: 32px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.footer-logo-link {
  width: 228px;
  height: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms ease-in-out;
}

.footer-logo-icon {
  fill: #fff;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.02em;
  transition: opacity 250ms ease-in-out;
}

.footer-logo-link:hover,
.footer-logo-link:focus,
.footer-nav-link:hover,
.footer-nav-link:focus {
  opacity: 0.5;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: background-color 250ms ease-in-out;
}

.footer-social-icon {
  fill: #fff;
  transition: opacity 250ms ease-in-out;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  opacity: 0.5;
}

.footer-copyright {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #fff;
}

/**/

@media screen and (min-width: 768px) {

  .footer {
    padding-right: 32px;
    padding-left: 32px;
  }

  .footer-nav-list {
    flex-direction: row;
    gap: 32px;
  }
}

/**/

@media screen and (min-width: 1440px) {
  .footer {
    padding-right: 64px;
    padding-left: 64px;
    padding-bottom: 0;
  }

  .footer-container {
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }

  .footer-nav {
    order: 1;
  }

  .footer-social-list {
    order: 1;
  }
}