body.modal-open {
  overflow: hidden;
}

.product-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.product-modal {
  padding: 64px 0 44px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - (16px * 2));
  max-width: 335px;

  background-color: #fff;
  border-radius: 16px;

  max-height: 90vh;
  overflow-y: auto;
}

.modal-close-btn {
  cursor: pointer;

  width: 32px;
  height: 32px;
  padding: 0;
  line-height: 1;

  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms, border-color 250ms;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #b8888a;
  border-color: #b8888a;
}

.modal-main-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 20px;
}

.product-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto; /* 2 ряди */
  gap: 16px;
}

.product-gallery .main-product-image {
  grid-column: 1 / -1;
  grid-row: 1;
  width: 100%;
  height: 297px;
  object-fit: cover;
  border-radius: 8px;
  /* за бажанням фіксуємо пропорції */
  /* aspect-ratio: 16 / 9; */
}

.gallery-thumbnails {
  display: grid;
  grid-column: 1 / -1; /* займає ряд під основним */
  grid-row: 2;
  grid-template-columns: 1fr 1fr; /* дві мініатюри поруч */
  gap: 16px;
}

.gallery-thumbnails .gallery-thumbnail {
  width: 100%;
  height: 197px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 8px;
}

.product-info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-info .category-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;

  margin: 6px 0;
}

.category-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: #888;
}

.product-price {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.stars-container {
  margin-top: 24px;
}

.color-options-container {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.color-options {
  display: flex;
  gap: 16px;
}

.custom-radio-style {
  cursor: pointer;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  border: 0.5px solid #d2d0d0;
  box-shadow: 0 0 4px 2px rgba(134, 132, 132, 0.25);

  transition: all 250ms;
}

.custom-radio-style:checked {
  border: 4px solid #838584;
}

/* .custom-radio-style:focus-visible {
  border: 4px solid #838584;
  box-shadow: 0 0 0 2px #fff;
} */

.description-text {
  margin-top: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
}

.dimensions-text {
  margin-top: 32px;
}

.product-info .open-order-modal-btn {
  align-self: flex-end;
  margin-top: 20px;
  margin-bottom: auto;
  margin-top: 24px;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .product-modal {
    width: 704px;
    max-width: 704px;
    padding: 64px 8px 32px;
  }

  .product-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto; /* 2 ряди */
    gap: 16px;
  }

  .product-gallery .main-product-image {
    grid-column: 1 / -1;
    grid-row: 1;
    width: 100%;
    height: 297px;
    object-fit: cover;
    border-radius: 8px;
    /* за бажанням фіксуємо пропорції */
    /* aspect-ratio: 16 / 9; */
  }

  .gallery-thumbnails {
    display: grid;
    grid-column: 1 / -1; /* займає ряд під основним */
    grid-row: 2;
    grid-template-columns: 1fr 1fr; /* дві мініатюри поруч */
    gap: 16px;
  }

  .gallery-thumbnail {
    width: calc(50% - 8px);
    height: 100px;
    border-radius: 8px;
    flex-shrink: 0;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .product-modal-backdrop .product-modal {
    width: 1090px;
    max-width: 1090px;
    padding: 64px;
  }

  .modal-main-content {
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 24px;
  }

  .product-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto; /* 2 ряди */
    gap: 16px;
  }

  .product-gallery .main-product-image {
    grid-column: 1 / -1;
    grid-row: 1;
    width: 580px;
    height: 380px;
    object-fit: cover;
    border-radius: 8px;
    /* за бажанням фіксуємо пропорції */
    /* aspect-ratio: 16 / 9; */
  }

  .gallery-thumbnails {
    display: grid;
    grid-column: 1 / -1; /* займає ряд під основним */
    grid-row: 2;
    grid-template-columns: 1fr 1fr; /* дві мініатюри поруч */
    gap: 16px;
  }

  .gallery-thumbnail {
    width: calc(50% - 8px);
    height: 100px;
    border-radius: 8px;
    flex-shrink: 0;
  }

  .product-info {
    width: 358px;
    flex-grow: 0;
  }

  .model-name {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: 0.01em;
  }

  .category-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
  }

  .product-price {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.01em;
  }
}
