.furniture-list-section {
  background-color: #fff;
}

.our-furniture {
  padding-top: 48px;
  /* padding-bottom: 48px; */
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #080c09;

  margin-bottom: 16px;
}

.section-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;
}

.category-container {
  padding-top: 40px;
  padding-bottom: 40px;

  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.category-item {
  /* min-width: calc((100% - 16px) / 2); */
  /* max-width: 159px; */
  flex: 0 0 calc((100% - 16px) / 2);
  max-width: none;
  height: 122px;
}

.category-card {
  border-radius: 8px;

  padding: 23px 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  background-image: linear-gradient(to bottom, rgba(2, 2, 2, 0.2)), var(--bg);
}

.category-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #fff;

  text-align: center;
}

.category-card.all {
  --bg: image-set(
    url('/img/furniture-list/allPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/allPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/allPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/allPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.hallway {
  --bg: image-set(
    url('/img/furniture-list/hallwayPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/hallwayPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/hallwayPhoto@x1.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/hallwayPhoto@x2.jpg') type('image/jpeg') 1x
  );
}

.category-card.kitchens {
  --bg: image-set(
    url('/img/furniture-list/kitchensPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/kitchensPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/kitchensPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/kitchensPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.garden {
  --bg: image-set(
    url('/img/furniture-list/gardenPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/gardenPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/gardenPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/gardenPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.tables {
  --bg: image-set(
    url('/img/furniture-list/tablesPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/tablesPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/tablesPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/tablesPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.soft {
  --bg: image-set(
    url('/img/furniture-list/softPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/softPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/softPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/softPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.children {
  --bg: image-set(
    url('/img/furniture-list/childrenPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/childrenPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/childrenPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/childrenPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.decor {
  --bg: image-set(
    url('/img/furniture-list/decorPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/decorPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/decorPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/decorPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.bathroom {
  --bg: image-set(
    url('/img/furniture-list/bathroomPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/bathroomPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/bathroomPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/bathroomPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.office {
  --bg: image-set(
    url('/img/furniture-list/officePhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/officePhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/officePhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/officePhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.wardrobe {
  --bg: image-set(
    url('/img/furniture-list/wardrobePhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/wardrobePhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/wardrobePhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/wardrobePhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.bads {
  --bg: image-set(
    url('/img/furniture-list/badsPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/badsPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/badsPhoto@x1.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/badsPhoto@x2.jpg') type('image/jpeg') 1x
  );
}

.category-card.hairs {
  --bg: image-set(
    url('/img/furniture-list/hairsPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/hairsPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/hairsPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/hairsPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.load-more-button {
  margin-top: 32px;
}

/* futniture-list */

.futniture-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-image {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}

.card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;

  margin-bottom: 8px;
}

.card-color-container {
  display: flex;
  gap: 16px;
}

.card-color-item {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  margin-bottom: 8px;

  color: transparent;

  border: 0.5px solid #d2d0d0;

  /* box-shadow: 1px 1px 1px 1px rgba(182, 178, 178, 0.25); */

  box-shadow: 0 0 4px 2px rgba(134, 132, 132, 0.25);
}

.card-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  color: #080c09;

  margin-bottom: 16px;
}

.details-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
  background-color: #e8e6e6;

  box-shadow: 0 1px 3px 0 rgb(141, 141, 141),
    inset 0 -2px 1px 0 rgb(227, 227, 227), inset 0 0 0 1px rgb(232, 232, 232);
}

.details-button:hover {
  background-color: #cbc9c9;
}

.load-more-button {
  margin-bottom: 48px;
}
