.furniture-list-section {
  background-color: #fff;
}

.our-furniture {
  padding-top: 48px;
  padding-bottom: 48px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #080c09;

  margin-bottom: 16px;
}

.section-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;
}

.category-list {
  padding-top: 40px;
  padding-bottom: 40px;

  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.category-item {
  /* min-width: calc((100% - 16px) / 2); */
  /* max-width: 159px; */
  flex: 0 0 calc((100% - 16px) / 2);
  max-width: none;
  height: 122px;
}

.category-card {
  border-radius: 8px;

  padding: 23px 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  background-image: linear-gradient(to bottom, rgba(2, 2, 2, 0.2)), var(--bg);
}

.category-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #fff;

  text-align: center;
}

.category-card.all {
  --bg: image-set(
    url('/img/furniture-list/firstPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/firstPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/firstPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/firstPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.soft {
  --bg: image-set(
    url('/img/furniture-list/secondPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/secondPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/secondPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/secondPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.wardrobe {
  --bg: image-set(
    url('/img/furniture-list/thirdPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/thirdPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/thirdPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/thirdPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.bads {
  --bg: image-set(
    url('/img/furniture-list/fourthPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/fourthPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/fourthPhoto@x1.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/fourthPhoto@x2.jpg') type('image/jpeg') 1x
  );
}

.category-card.tables {
  --bg: image-set(
    url('/img/furniture-list/fifthPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/fifthPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/fifthPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/fifthPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.hairs {
  --bg: image-set(
    url('/img/furniture-list/sixthPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/sixthPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/sixthPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/sixthPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.kitchens {
  --bg: image-set(
    url('/img/furniture-list/seventhPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/seventhPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/seventhPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/seventhPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.children {
  --bg: image-set(
    url('/img/furniture-list/eighthPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/eighthPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/eighthPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/eighthPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.office {
  --bg: image-set(
    url('/img/furniture-list/ninthPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/ninthPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/ninthPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/ninthPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.hallway {
  --bg: image-set(
    url('/img/furniture-list/tenthPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/tenthPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/tenthPhoto@x1.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/tenthPhoto@x2.jpg') type('image/jpeg') 1x
  );
}

.category-card.bathroom {
  --bg: image-set(
    url('/img/furniture-list/eleventhPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/eleventhPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/eleventhPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/eleventhPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.garden {
  --bg: image-set(
    url('/img/furniture-list/twelfthPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/twelfthPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/twelfthPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/twelfthPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.category-card.decor {
  --bg: image-set(
    url('/img/furniture-list/thirteenthPhoto@x2.webp') type('image/webp') 2x,
    url('/img/furniture-list/thirteenthPhoto@x1.webp') type('image/webp') 1x,
    url('/img/furniture-list/thirteenthPhoto@x2.jpg') type('image/jpeg') 2x,
    url('/img/furniture-list/thirteenthPhoto@x1.jpg') type('image/jpeg') 1x
  );
}

.load-more-button {
  margin-top: 32px;
}
