/* === Плавний скрол === */
html {
  scroll-behavior: smooth;
}

.page-header {
  align-items: center;
  height: 72px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.02em;
}

.header-logo {
  transition: opacity 250ms ease-in-out;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-logo:hover,
.header-logo:focus,
.navbar-header-logo:hover,
.navbar-header-logo:focus,
.navbar-nav-item:hover,
.navbar-nav-item:focus {
  opacity: 0.5;
}

.header-nav-list {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  color: #080c09;
  display: none;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.icon-close {
  display: none;
}

.menu-button.is-active .icon-menu {
  display: none;
}

.menu-button.is-active .icon-close {
  display: block;
}

.right-header-box {
  justify-content: end;
}

/* === Mobile Navbar Menu === */
.mobile-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-navbar.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-100%);
}

.mobile-navbar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 375px;
  gap: 32px;
}

.mobile-navbar-header {
  display: flex;
  justify-content: space-between;
}

.navbar-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.header-nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  max-width: 335px;
  height: 42px;
  background-color: #6b0609;
  color: #fff;
  border-radius: 100px;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  transition: background-color 250ms ease-in-out;
}

.header-nav-btn:hover,
.header-nav-btn:focus {
  background-color: color-mix(in srgb, #6b0609 50%, white 50%);
}

.header-nav-btn[disabled] {
  background-color: #e8e6e6;
  color: #080c09;
}

.navbar-nav-item {
  transition: opacity 250ms ease-in-out;
  font-weight: 600;
  font-size: 18px;
}

.navbar-nav-item-mob {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
}

/* === Overlay === */
.mobile-navbar-overlay {
  position: fixed;
  top: 72px;
  /* не перекриває header */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(8, 12, 9, 0.3);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 998;
}

.mobile-navbar-overlay.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* === No scroll body === */
.no-scroll {
  overflow: hidden;
}

@media only screen and (min-width: 320px) and (max-width: 899.98px) {
  .menu-button.is-active {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    /* вище за меню */
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    padding: 0 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 899.98px) {
  .mobile-navbar-header {
    display: none;
  }

  .mobile-navbar-container {
    padding: 0;
  }

  .navbar-menu-nav {
    padding: 0;
  }

  .mobile-navbar {
    top: 72px;
    right: 0;
    left: auto;
    width: 249px;
    height: fit-content;
    padding: 0;
    margin: 0;
    transform: translateX(100%);
  }

  .mobile-navbar.is-hidden {
    transform: translateX(100%);
  }

  .navbar-nav-list {
    align-items: end;
    padding: 24px 32px;
    max-width: calc(100% - 32px * 2);
  }

  .navbar-nav-item-mob {
    width: 185px;
    height: 42px;
  }

  .mobile-navbar.is-hidden {
    transform: translateX(100%);
  }

  .mobile-navbar:not(.is-hidden) {
    transform: translateX(0);
  }
}

@media only screen and (min-width: 900px) and (max-width: 1439.98px) {
  .mobile-navbar-header {
    display: none;
  }

  .mobile-navbar-container {
    padding: 0;
  }

  .menu-button.is-active {
    position: fixed;
    top: 20px;
    right: 74px; /* змінено */
    z-index: 1001;
  }

  .navbar-menu-nav {
    padding: 0;
  }

  .mobile-navbar {
    top: 72px;
    right: 0;
    left: auto;
    width: 298px;
    height: fit-content;
    padding: 0;
    margin: 0;
    transform: translateX(100%);
  }

  .mobile-navbar.is-hidden {
    transform: translateX(100%);
  }

  .navbar-nav-list {
    align-items: end;
    padding: 24px 98px 24px 32px; /* змінено */
    max-width: calc(100% - 32px + 98px); /* змінено */
  }

  .navbar-nav-item-mob {
    width: 185px;
    height: 42px;
  }

  .mobile-navbar.is-hidden {
    transform: translateX(100%);
  }

  .mobile-navbar:not(.is-hidden) {
    transform: translateX(0);
  }
}

@media screen and (min-width: 1440px) {
  .menu-button {
    display: none;
  }

  .page-header {
    padding: 0 64px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .header-nav-link {
    transition: opacity 250ms ease-in-out;
  }

  .header-nav-btn-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: 129px;
    height: 42px;
    background-color: #6b0609;
    color: #fff;
    border-radius: 100px;
  }
}
