* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  font: inherit;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  /* background: none; */
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  height: auto;
  display: block;
}
