/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./buttons.css');
@import url('./container.css');
@import url('./animations.css');
@import url('./izitost.css');
@import url('./loader.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./furniture-list.css');
@import url('./about-us.css');
@import url('./popular-products.css');
@import url('./faq.css');
@import url('./feedbacks.css');

@import url('./furniture-details-modal.css');
@import url('./order-modal.css');

@import url('./footer.css');
